<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
</head>
<body>

    <div class="header">
        <b>Security Alert</b>: <p>Failed login attempt to your account</p>
    </div>

    <a href="https://www.tryspeed.co" target="_blank">
        <img src="cid:forgot-pwd-img">
    </a>



    <h2>
        A failed login attempt recently occurred twice on {{date}}. 
        Someone with the IP address {{ipAddress}} used the username {{email}} to attempt
        to login to tryspeed. 
    </h2>
    <h3>
        If you did not attempt to access your account, please contact tryspeed Customer Team.
    </h3>


    <p>
        Support@tryspeed.co
    </p>


    
</body>
</html>